<div id="menu">
    <h2>Benjamin Shai</h2>
    <br>
    <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="blog"><a href="#blog">Blog</a></li>
        <li class="about"><a href="#about">About Me</a></li>
        <li class="projects"><a href="#projects">Projects</a></li>
        <li class="resume"><a href="#resume">Resume</a></li>
    </ul>
    <br>
    Contact Me<br><br>
    <a href="https://github.com/benmanbs" target="_blank"><span class="contact-icon github"></span></a>
    <a href="https://www.linkedin.com/in/benmanbs" target="_blank"><span class="contact-icon linked-in"></span></a>
    <a href="mailto:benjamin@benjaminshai.com"><span class="contact-icon mail"></span></a>
    <a href="https://www.facebook.com/benjaminshai" target="_blank"><span class="contact-icon facebook"></span></a>
    <a href="https://plus.google.com/u/0/108655901926000386445/" target="_blank"><span class="contact-icon g-plus"></span></a>
</div>
<div id="content"></div>