<div class="home-content">
I'm a computer programmer living in New York City.
<br><br>
I primarily code in Java or JavaScript, but I love learning new languages or technologies.
<br><br>
You can check out some stuff I've built on my <a href="#projects">projects page</a> and on my <a href="https://github.com/benmanbs" target="_blank">github</a> page.
</div>
<br><br><br><br>
<span class="footer">Hand coded in HTML, CSS, and Backbone.JS. <a href="https://github.com/benmanbs/personal-website" target="_blank">See source.</a></span>