<h1>Projects</h1>
<br>

<h2>Backbone.freeze</h2>
<img src="/images/projects/freeze.png" width="150px" alt="Backbone.freeze">
<div class="project-description">Backbone.freeze adds immutable collections to Backbone.JS. I coded this up for use at Conductor Inc.
    <br><a href="https://github.com/Conductor/backbone.freeze" target="_blank">Learn more</a>.
</div>
<br><br>
<h2>Kids of Courage Android App</h2>
<img src="/images/projects/kids-of-courage.png" width="150px" alt="Kids of Courage">
<div class="project-description">I wrote this app in a weekend for the annual Kids of Courage retreat. It contains a schedule of the events (fetched from an api endpoint),
    photos (loaded from flickr albums), and the ability to upload a photo either from the camera or gallery. It was my first experience with Android.
    <br><a href="https://github.com/benmanbs/CouragersAndroid" target="_blank">See code</a> or <a href="https://play.google.com/store/apps/details?id=com.benjaminshai.couragers" target="_blank">view on play store</a>.
</div>
<br><br>
<h2>Personal Website</h2>
<img src="/images/projects/site.png" width="150px" alt="Personal Website">
<div class="project-description">I hand wrote this website in HTML, CSS, and Javascript, using Backbone.JS. It's an entirely static site, including the blog.
    <br><a href="https://github.com/benmanbs/personal-website" target="_blank">Learn more</a>.
</div>