<h1>Resume</h1>
<br>
<strong><span style="text-decoration: underline;font-size: 1.2em;">EDUCATION:</span></strong>
<div class="indent">

    <strong>Yeshiva University, Yeshiva College,</strong> New York, NY<br>
    B.A in Computer Sciences, January 2012, GPA 3.51<br>
    <strong>Studies Abroad</strong>: Beit Shemesh, Israel, 2007-2008<br>
    <strong>Weinbaum Yeshiva High School,</strong> Boca Raton, FL<br>
</div>
<br>
<strong><span style="text-decoration: underline;font-size: 1.2em;">TECHNICAL SKILLS:</span></strong>
<div class="indent">

    <strong>Programming</strong>: Java, JavaScript, Backbone.JS, Node.JS, SQL, Ruby<br>
    <strong>Design</strong>: HTML, CSS, Photoshop, InDesign<br>
    <strong>Languages</strong>: Hebrew (fluent)<br>
    <strong>Other</strong>: Video Editing (Final Cut), Photography, Musical Instruments (Cello-22 yrs., Guitar-10 yrs., Bass Guitar-8 yrs.)

</div>
<br>
<strong><span style="text-decoration: underline;font-size: 1.2em;">TECHNICAL EXPERIENCE:</span></strong>
<div class="indent">

    <strong>Conductor Inc.,</strong> New York, NY, March 2014-Current<br>
    <em>Technical Team Lead</em>
    <br><br>
    <strong>Goldman, Sachs, and Co.,</strong> New York, NY, February 2012-February 2014<br>
    <em>Analyst Developer</em>
    <ul>
        <li>Fully designed and developed feed processor for a new type of trading exception in Java.</li>
        <li>Gained proficiency in Spring (Java framework), Maven (build tool), and assorted other technologies.</li>
        <li>Participated in design discussions, architecture conversations, and enhancement brainstorming.</li>
        <li>Learned C# to better enhance an exception management platform front end in response to client requirements.</li>
        <li>Developed status page and exception dashboard for users in JSP.</li>
        <li>Quickly learned the business line of our users and took responsibility over a number of processes used by the business</li>
        <li>Built and automated reports to user specifications in Perl/SQL to send daily information extracts</li>
    </ul>

    <strong>BAE Systems Inc.,</strong> Hudson, NH, Summer 2011<br>
    <em>Software Engineering Intern</em>
    <ul>
        <li>Wrote program to parse logs of Argus-IS, advanced image processor in a short timeframe. Program had a Java GUI, custom XML tests, and recursive folder traversal.</li>
        <li>Performed code review on existing codebase to comprehend it, then searched for the cause of bugs through reverse engineering logs.</li>
        <li>Researched feasibility of integration of new technologies (Git, Hudson CI) to the project.</li>
    </ul>

    <strong>Pulse Advisory,</strong> New York, NY, November 2010-May 2011<br>
    <em>Web Development Analyst</em>
    <ul>
        <li>Learned new framework (WordPress) and created company site in it</li>
        <li>Designed and implemented template for use with all client sites</li>
        <li>Integrated plugins to WordPress to improve Search Engine Optimization (SEO)</li>
        <li>Worked with a team of analysts to coordinate content for client sites</li>
    </ul>

    <strong>SOY Seforim Sale (Jewish book sale),</strong> New York, NY, School Years 2008-2011<br>
    <em>Head of IT Department</em>
    <ul>
        <li>Wrote a program in Visual Basic to calculate shipping cost of orders</li>
        <li>Managed team of IT people for setup and maintenance of computers</li>
        <li>Organized databases of orders and vendors, and maintained them</li>
    </ul>

    <strong>SawYouAtSinai, Jewish Dating Site,</strong> New York, NY, Summer 2010<br>
    <em>Web Development/Graphic Design Intern</em>
    <ul>
        <li>Designed and implemented entire engagement gallery site from the ground up (<a href="http://www.sawyouatsinai.com/engagements/" target="_blank">www.sawyouatsinai.com/engagements/</a>) in ASP.net</li>
        <li>Created databases in SQL, and learned new technologies to meet boss’s needs</li>
        <li>Designed advertisements for dating site to be sent out via email</li>
        <li>Developed custom flash player to play training videos</li>
    </ul>

    <strong>Camp HASC,</strong> Parksville, NY, Summer 2008-2009<br>
    <em>Office Admin/ IT Coordinator</em>
    <ul>
        <li>Supervised technology department of three people</li>
        <li>Photographed all camp events such as concerts and night activities</li>
        <li>Updated website daily with photographs of camp events</li>
        <li>Published a weekly newsletter for counselors and campers</li>
    </ul>
</div>
<br>
<strong><span style="text-decoration: underline;font-size: 1.2em;">ACTIVITIES:</span></strong>
<div class="indent">

    <strong>President, Drama Society</strong>, Yeshiva College, NY, School Year 2008-2011
    <ul>
        <li>Wrote program in Java to create tickets for productions, negating the cost of relying on outside ticket-making companies</li>
        <li>Created playbills and flyers for dramatic productions</li>
        <li>Managed board of society and delegated tasks</li>
    </ul>

    <strong>Technical Editor, School Yearbook, </strong>WYHS, FL, School Years 2006/2007
    <ul>
        <li>Created template for senior pages</li>
        <li>Implemented creative design for every page in yearbook</li>
        <li>Managed and trained younger students in technical editing</li>
    </ul>

    <strong>Head, Productions Committee,</strong> WYHS, FL, School Year 2007
    <ul>
        <li>Created weekly school spirit video</li>
        <li>Educated younger students to carry on following year</li>
        <li>Edited weekly email publication for web</li>
        <li>Photographed most school events for use in publications</li>
        <li>Designed logo for school newspaper and created first layout</li>
        <li>Ensured all events went off without a hitch (sound, screens, projectors)</li>
    </ul>
</div>