<strong><span style="text-decoration: underline;"><span style="font-size: 1.2em;">EDUCATION:</span></span></strong><span style="text-decoration: underline;"> </span>
<div class="indent">

    <strong>Yeshiva University, Yeshiva College,</strong> New York, NY
    B.A in Computer Sciences, expected January 2012, GPA 3.353
    <strong>Studies Abroad</strong>: Beit Shemesh, Israel, 2007-2008
    <strong>Weinbaum Yeshiva High School,</strong> Boca Raton, FL
    <strong>Related Coursework</strong>: Intro to Computer Programming, Data Structures, Discrete Structures, Algorithms, Theory of Computation, Computer Organization and Assembly Language, Introduction to Operating Systems, Advanced Programming Languages, Advanced Java Programming

    <sub> </sub>

</div>
<strong><span style="text-decoration: underline;"><span style="font-size: 1.2em;">SKILLS:</span></span></strong>
<div class="indent">

    <strong>Experienced in</strong>: Java programming, WordPress, ASP.NET/Visual Basic, SQL, HTML, CSS, Computer troubleshooting, photography, Apple Final Cut Pro Suite (Video editing), Adobe Photoshop (photo manipulation, graphic design), Adobe InDesign (layouts)
    <strong>Familiar with</strong>: C++,  basic PHP
    <strong>Languages</strong>: Hebrew (fluent)

</div>
<strong><span style="text-decoration: underline;"><span style="font-size: 1.2em;">EXPERIENCE:</span></span></strong>
<div class="indent">

    <strong>Pulse Advisory,</strong> New York, NY, November 2010-Current
    Web Development Analyst
    <ul>
        <li>Learned new framework (WordPress) and created company site (<a href="http://www.pulseadvisory.com" target="_blank">www.pulseadvisory.com</a>) in it</li>
        <li>Designed and implemented template for use with all client sites</li>
        <li>Integrated plugins to WordPress to improve Search Engine Optimization (SEO)</li>
        <li>Worked with a team of analysts to coordinate content for client sites<strong> </strong></li>
    </ul>

    <strong>SOY Seforim Sale (Jewish book sale),</strong> New York, NY, School Years 2008-2011
    Head of IT Department
    <ul>
        <li>Wrote a program in Visual Basic to calculate shipping cost of orders</li>
        <li>Managed team of IT people for setup and maintenance of computers</li>
        <li>Organized databases of orders and vendors, and maintained them</li>
    </ul>
    <strong>SawYouAtSinai, Jewish Dating Site,</strong> New York, NY, Summer 2010
    Web Development/Graphic Design Intern
    <ul>
        <li>Designed and implemented entire engagement gallery site from the ground up (<a href="http://www.sawyouatsinai.com/engagements/" target="_blank">www.sawyouatsinai.com/engagements/</a>) in ASP.net</li>
        <li>Created databases in SQL, and learned new technologies to meet boss’s needs</li>
        <li>Designed advertisements for dating site to be sent out via email</li>
        <li>Developed custom flash player to play training videos</li>
    </ul>
    <strong>Camp HASC,</strong> Parksville, NY, Summer 2008-2009
    Office Admin/ IT Coordinator
    <ul>
        <li>Supervised technology department of three people</li>
        <li>Photographed all camp events such as concerts and night activities</li>
        <li>Updated website daily with photographs of camp events</li>
        <li>Published a weekly newsletter for counselors and campers<strong> </strong></li>
    </ul>
    <strong> </strong>

</div>
<strong><span style="text-decoration: underline;"><span style="font-size: 1.2em;">ACTIVITIES:</span></span></strong>
<div class="indent">

    <strong>President, Drama Society</strong>, Yeshiva College, NY, School Year 2008-2011
    <ul>
        <li>Wrote program in Java to create tickets for productions, negating the cost of relying on outside ticket-making companies</li>
        <li>Created playbills and flyers for dramatic productions</li>
        <li>Managed board of society and delegated tasks</li>
    </ul>
    <strong>Technical Editor, School Yearbook, </strong>WYHS, FL, School Years 2006/2007
    <ul>
        <li>Created template for senior pages</li>
        <li>Implemented creative design for every page in yearbook</li>
        <li>Managed and trained younger students in technical editing</li>
    </ul>
    <strong>Head, Productions Committee,</strong> WYHS, FL, School Year 2007
    <ul>
        <li>Created weekly school spirit video</li>
        <li>Educated younger students to carry on following year</li>
        <li>Edited weekly email publication for web</li>
        <li>Photographed most school events for use in publications</li>
        <li>Designed logo for school newspaper and created first layout</li>
        <li>Ensured all events went off without a hitch (sound, screens, projectors)</li>
    </ul>
</div>