/* Basic styles */

a:hover {
    text-decoration: none;
    color: #53B986;
}

a {
    text-decoration: none;
    color: #339966;
}

#content {
    margin-left: 200px;
    position: relative;
    overflow: auto;
    padding: 40px;
    width: 680px;
    font-size: 20px;
}

.indent {
    padding-left: 20px;
}

.home-content {
    padding-top:200px;
}

.footer {
    font-size: 14px;
}

.resume-content {
    font-size: 14px;
}

img {
    vertical-align: top;
}

/* menu */

#menu {
    position: fixed;
    height: 100%;
    width: 200px;
    border-right: 2px solid grey;
    text-align: center;
    padding-top: 40px;
    font-size:17px;
    overflow-x: scroll;
}

#menu ul {
    list-style: none;
    padding-left: 0;
}

#menu li {
    padding-top:5px;
    padding-bottom:5px;
    margin-top:25px;
    margin-bottom:25px;
}

#menu li:hover {
    background: #53B986 !important;
}

#menu li.current {
    background: #339966;
}

#menu li.current a{
    color:white;
}

#menu li:hover a{
    color:white;
}

#menu li a {
    text-decoration: none;
    color:black;
}

.project-description {
    display: inline-block;
    width: 444px;
}

/* contact me */

.contact-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.mail {
    background: url('/images/mail.png');
}

.github {
    background: url('/images/github.png');
}

.g-plus {
    background: url('/images/g-plus.png');
}

.linked-in {
    background: url('/images/linked-in.png');
}

.facebook {
    background: url('/images/facebook.png');
}


/* blog */

.blog-posts {
    font-size: 14px;
}

.blog-post {
    font-size: 14px;
}

.blog-date {
    color: gray;
    font-style: italic;
}

.next-page {
    font-size: 16px;
    float: right;
}

.previous-page {
    font-size: 16px;
}

.back-to-blog {
    font-size: 16px;
}

.blog-snippet-end {width: 540px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid gray;
    margin-left: 30px;
}

/* Mobile stuff TODO maybe think about a hamburger menu */
@media only screen and (max-device-width: 768px) {

    body {
        width:900px;
    }

    #menu {
        position: static;
        float: left;
    }

    #content {
        display: inline-block;
        margin-left: 0px;
    }

}